/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Kyle S. Leaf
   Date:   2025.11.10

   Filename: cg_validate.css

*/

/*Validation Styles*/

/*All elements below, while active will have background-color changed*/
input:focus,
select:focus,
textarea:focus {
   background-color: rgb(245, 245, 140);
}

/*All elements below, while active and input is valid, 
will have bg color changed and will display valid image w/in box*/
input#fnBox:focus:valid,
input#lnBox:focus:valid,
input#mailBox:focus:valid,
input#phoneBox:focus:valid,
input#idBox:focus:valid{
   background-color: rgb(220, 255, 220);
   background-image: url(cg_valid.png);
   background-position: right center;
   background-repeat: no-repeat;
   background-size: contain;
}

/*All elements below, while active and input is invalid, 
will have bg color changed and will display invalid image w/in box*/
input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
input#mailBox:focus:invalid,
input#phoneBox:focus:invalid,
input#idBox:focus:invalid{
   background-color: rgb(255, 232, 232);
   background-image: url(cg_invalid.png);
   background-position: right center;
   background-repeat: no-repeat;
   background-size: contain;
}


